<a href="https://colab.research.google.com/github/prasath283/APP/blob/main/APP_unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use of If else

In [ ]:
i=10.0;
if(i<15):
  print("i is smaller than 15")
  print("i am in if block")
else:
    print("i is greater than 15")
    print("i am in else block")
    print("i am not in if and not in else block")

i is smaller than 15
i am in if block

Use of Nested IF else

In [ ]:
i = 20
if (i == 10): 
    #  First if statement 
    if (i < 15): 
        print ("i is smaller than 15") 
    # Nested - if statement 
    # Will only be executed if statement above 
    else:
      print("yes it is true")  
    if (i < 12): 
        print ("i is smaller than 12 too") 
else: 
    print ("i is greater than 15")

i is greater than 15

if-elif-else ladder

In [ ]:
i = 20
if (i == 10): 
    print ("i is 10") 
elif (i == 15): 
    print ("i is 15") 
elif (i == 20): 
    print ("i is 20") 
else: 
    print ("i is not present")

i is 20

While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The Break Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue Statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 2
else:
  print("i is no longer less than 6")

1
3
5
i is no longer less than 6

For Loop

In [ ]:
fruits = ["apple", "banana", "cherry", "pine"]
for x in fruits:
  print(x)

apple
banana
cherry
pine

Looping Through a String

In [ ]:
for x in "banannnnnnnnnna":
  print(x)

b
a
n
a
n
n
n
n
n
n
n
n
n
n
a

The break Statement

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

The continue Statement

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

The range() Function

In [ ]:
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Else in For Loop

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
big apple
big banana
tasty apple
tasty banana

The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass